body{
	
	font-family: 'Ropa Sans', sans-serif;
	font-color:white;
}


span{
    background:#013392;
    border: 10px;
    color: lightblue;
    font-size: 15px;
    height: 30px;
    letter-spacing: 1.2px;
    line-height: 30px;
    position: center;
    text-align: center;
    text-transform:  uppercase;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;
    
}
span:after{
    content:'';
    position:absolute;
    bottom:-50px; 
    width:10px;
    height:10px;
    border-bottom:5px solid black;
    border-right:5px solid black;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

p:hover span{
    display:block;
}
p{
    margin:100px;
    float:left;
    position:relative;
}
