body {
   font-family:Helvetica;
   padding:50px;
   color:green;
   background: white;
  margin: 40pt;

 div.1 {
    border: 1px white;
    padding: 5px;
    width: 700px;
    height: 900px;
    text-align: left-justify;
  }
    a.ex4:hover, a.ex4:active {font-family: monospace;}

    a.ex4:hover{
      color:green;
    }

    a.ex4:active{
      color:green;
    }

<div class="title"{
  font-size:600pt;
  color:green;
  text-decorative:overliine;
}

p{
  font-family:helvetica;
  font-size:35pt;
  padding:50px;
}

body {  
  h1{
  font-size: 120;
  color:green;
}

h2{
  color:green;
  font-size:120;
}

p{
  color:black;
  font-size: 200;
  text-align:center;
}

</div>
