@keyframes animationname {keyframes-selector {css-styles;}}

body{
  margin:20px;
display:flex;
flex-wrap:wrap;
background: #C0E7F3;
margin-left: 120px;
}

.message{
  margin-left:10px;
}

.letter{
  padding-left:20px;
  background-size:contain;
  width:300px;
  height:350px; 
/*  revisar en diferentes computadoras 
y cambiar especificamene
vw; 
viewport width calculator-buscar
formato
/*#F2D7D5*/
 
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left;
  display:none;
}

.is-hidden { opacity: 0 !important; }


.letter-option {opacity:0;}


/* estilo para el username*/

.username-form {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -60px;
  width: 200px;
  height: 100px;
  padding: 30px;
  background: #e5cacf;
  box-shadow: 0 0 20px rgba(0,0,0,.125);
  opacity: 1;
  transition: opacity .2s;
}

.username-form label {
  display: block;
  margin-bottom: 20px;
}

.letter-input {
  position: fixed;
  bottom: 0;
  left: 1;
  right: 0;
  opacity: 0;
  transition: opacity .2s;
  box-shadow: 0 0 20px rgba(0,0,0,.125);
  width:200px;
  height:200px;
}

.letter-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.letter-options-label {
  padding: 20px;
}

.letter-option {
  display: block;
  width: 40px;
  height: 40px;
  transition: opacity .2s;
}

.letter-option:hover {
  opacity: .7;
}

/* estilo del mensaje */

.message {
  padding: 40px;
  margin-right: 40px;
}

.message.from-current-user {
  text-align: left;
  margin-right: 0;
  margin-left: 40px;
  width:200px;
  height:200px;
}